{% extends "views/layout.html" %}

{% block content %}
<h1> Hi {{user._id}} </h1>

<div id="profileDiv">
    <form action="/profile" method="post" >
        <input id="profileUsername" name="username" type="text" placeholder="Username"><br>
        <input id="profileDescription" name="description" type="text">{{user.local.description}}<br>
        <button id="btnProfile">Update</button>
    </form>
</div>
<p>
{{user.local.email}}
</p>

<p>
{{user.local.username}}
</p>


<p>
{{user.local.password}}
</p>

<a href="/register">Register</a>

{% endblock %}