{% extends "views/layout.html" %}

{% block content %}
<div class="wrapper">
	<h1> Hello {{user}} </h1>

	<form class="addUser" action="/users/adduser" method="POST" >
	    <input class="inputFirstName" type="text" placeholder="First Name"><br>
	    <input class="inputLastName" type="text" placeholder="Last Name"><br>
	    <input class="inputRole" type="checkbox" value="Developer">Developer<br>
	    <input class="inputRole" type="checkbox" value="Designer">Designer<br>
	    <input class="inputRole" type="checkbox" value="Ideas">Ideas<br>
	    <input class="inputDescription" type="text" placeholder="A little blurb"><br>
	    <button class="btnAddUser" type="submit">Submit</button>
	</form>
</div>
{% endblock %}
