/* line 1, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcb549+0,f26423+100 */
  background: #fcb549;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcb549 0%, #f26423 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcb549 0%, #f26423 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcb549 0%, #f26423 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb549', endColorstr='#f26423',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  font-family: 'farray'; }

/* line 14, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body section .wrapper {
  margin: 0 auto;
  max-width: 480px;
  box-sizing: border-box;
  padding: 32px; }

/* line 20, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body section form {
  text-align: center;
  /*Role Styling*/ }
  /* line 22, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form ::-webkit-input-placeholder {
    color: #fff; }
  /* line 23, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form :-moz-placeholder {
    color: #fff;
    opacity: 1; }
  /* line 24, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form ::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  /* line 25, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form :-ms-input-placeholder {
    color: #fff; }
  /* line 26, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form :placeholder-shown {
    color: #fff; }
  /* line 27, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25); }
  /* line 28, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form input:focus:-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
    opacity: 1; }
  /* line 29, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form input:focus::-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
    opacity: 1; }
  /* line 30, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form input:focus:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25); }
  /* line 31, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form input:focus:placeholder-shown {
    color: rgba(255, 255, 255, 0.25); }
  /* line 32, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form input:focus, body section form select:focus, body section form textarea:focus, body section form button:focus {
    outline: none; }
  /* line 33, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form .input {
    display: block;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    color: #fff;
    font-size: 36px;
    border: 6px solid #faa741;
    padding: 5% 0;
    text-align: center; }
  /* line 44, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form button.input {
    background-color: #fff;
    color: #f16724;
    border-color: #fff; }
  /* line 49, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form button.input:hover {
    background-color: #faa741;
    border-color: #faa741;
    color: #fff; }
  /* line 56, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form .role[type='checkbox'] {
    opacity: 0;
    width: 44px;
    height: 56px;
    margin: 0 8%;
    cursor: pointer; }
  /* line 63, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form .role[type='checkbox'] + label {
    position: relative;
    border-bottom: 6px solid transparent;
    height: 56px;
    width: 44px;
    display: inline-block;
    margin-left: calc( -44px - 8%);
    pointer-events: none; }
  /* line 73, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form .role[type='checkbox']:checked + label {
    border-color: #fff; }
  /* line 74, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form .role[type='checkbox']:hover + label {
    border-color: #fff;
    opacity: .5; }
  /* line 75, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form #icon1[type='checkbox'] {
    margin-left: 0; }
  /* line 76, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form #icon1[type='checkbox'] + label {
    background: url("../img/icon1.svg") no-repeat; }
  /* line 77, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form #icon2[type='checkbox'] + label {
    background: url("../img/icon2.svg") no-repeat; }
  /* line 78, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form #icon3[type='checkbox'] + label {
    background: url("../img/icon3.svg") no-repeat; }
  /* line 79, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form #icon4[type='checkbox'] + label {
    background: url("../img/icon4.svg") no-repeat; }
  /* line 80, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
  body section form #icon5[type='checkbox'] + label {
    background: url("../img/icon5.svg") no-repeat; }

/* line 84, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .box-shadow-1, body section form .role[type='checkbox'] + label {
  -webkit-filter: drop-shadow(0px 7px 5px #f16524);
  filter: drop-shadow(0px 7px 5px #f16524); }

/* line 85, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .box-shadow-2 {
  -webkit-filter: drop-shadow(0px 7px 5px #d74e28);
  filter: drop-shadow(0px 7px 5px #d74d27); }

/* line 87, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .logo {
  margin: 12%; }

/* line 89, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .effect-swing, body section form .role[type='checkbox']:hover + label {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

/* line 90, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .effect-swing-slow {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 91, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .rotate {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out; }

/* line 92, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

/* line 93, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body img.zoom-in {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

/* line 94, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body img.zoom-in:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

/* line 95, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body img.zoom-out {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

/* line 96, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body img.zoom-out:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

/* line 97, C:/Users/Jacob/Development/Node/teamfling/public/css/stylesheet.scss */
body .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: 'farray';
  src: url("../fonts/farray-webfont.eot");
  src: url("../fonts/farray-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/farray-webfont.woff2") format("woff2"), url("../fonts/farray-webfont.woff") format("woff"), url("../fonts/farray-webfont.ttf") format("truetype"), url("../fonts/farray-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=stylesheet.css.map */
